Repository yanquankun/mint-fe-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

.lintstagedrc:

{
  "packages/**/*.{ts,tsx,js,jsx}": ["npm run lint", "npm run prettier-fix"],
  "*.json": ["prettier --trailing-comma none --write"],
  "*.md": ["prettier --write"]
}

test
  packages/@mps/cli/bin/mps.js
Due: npm run lint, npm run prettier-fix

lint: make lint happy
  .eslintrc.js
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/utils/logger.js
Due: npm run lint, npm run prettier-fix

lint: make lint happy
  .eslintrc.js
Due: none

feat: add readme
  packages/@mps/cli/README.md
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

docs: update reademd
  packages/@mps/cli/README.md
Due: prettier --write

feat: add git output
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: execa update
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
Due: prettier --trailing-comma none --write

feat: mps.js
  packages/@mps/cli/bin/mps.js
Due: npm run lint, npm run prettier-fix

update: 脚手架变更为mpsc
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

docs: add 流程图
  packages/@mps/cli/README.md
Due: prettier --write

build: 删除无用包
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
Due: prettier --trailing-comma none --write

feat: 增加generator
  .vscode/settings.json
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/lib/generator.js
  packages/@mps/cli/lib/init.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: localModule resolve
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/cmd/init.js
  packages/@mps/cli/lib/init.js
  packages/@mps/cli/lib/module.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
  packages/@mps/cli/utils/logger.js
  packages/@mps/cli/utils/spinner.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

fix: loadLocalModule 本地加载资源路径错误问题
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/lib/module.js
  packages/@mps/cli/utils/type.js
Due: npm run lint, npm run prettier-fix

feat: loadLocalModule
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/lib/module.js
Due: npm run lint, npm run prettier-fix

update: cmd=>command
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/init.js
Due: npm run lint, npm run prettier-fix

add: command/*
  commitlint.config.js
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/build.js
  packages/@mps/cli/command/clean.js
  packages/@mps/cli/command/init.js
Due: npm run lint, npm run prettier-fix

update: update type.js
  packages/@mps/cli/utils/type.js
Due: npm run lint, npm run prettier-fix

feat: clean脚本commit
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/clean.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/template/.mps/apps.json
  packages/@mps/cli/template/.mps/hooks/afterBuild.js
  packages/@mps/cli/template/.mps/hooks/afterTaskBuild.js
  packages/@mps/cli/template/.mps/hooks/beforeBuild.js
  packages/@mps/cli/template/.mps/hooks/beforeTaskBuild.js
  packages/@mps/cli/template/.mps/hooks/noticeTask.js
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/getProjectJson.js
  packages/@mps/cli/utils/logger.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: commit
  packages/@mps/cli/bin/mps.js
Due: npm run lint, npm run prettier-fix

update: git command update
  packages/@mps/cli/bin/mps.js
Due: npm run lint, npm run prettier-fix

lint: commitlint格式化
  commitlint.config.js
Due: none

feat: clean comman over
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/clean.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/utils/file.js
  packages/@mps/cli/utils/logger.js
Due: npm run lint, npm run prettier-fix

chore: remove console
  packages/@mps/cli/command/clean.js
Due: npm run lint, npm run prettier-fix

chore: 小改动
  packages/@mps/cli/bin/mps.js
Due: npm run lint, npm run prettier-fix

chore: 小改动
  packages/@mps/cli/utils/file.js
Due: npm run lint, npm run prettier-fix

feat: 1.add types 2.init command commit
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/lib/generator.js
  packages/@mps/cli/types/file.d.ts
  packages/@mps/cli/types/generator.d.ts
  packages/@mps/cli/types/tsconfig.json
  packages/@mps/cli/utils/file.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: update types
  packages/@mps/cli/types/file.d.ts
  packages/@mps/cli/types/generator.d.ts
  packages/@mps/cli/types/index.d.ts
  packages/@mps/cli/types/tsconfig.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

add: 1.cli-lbg 2.cli template update
  packages/@mps/cli-lbg/README.md
  packages/@mps/cli-lbg/package.json
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/lib/generator.js
  packages/@mps/cli/package.json
  packages/@mps/cli/template/.mps/apps.json
  packages/@mps/cli/template/.mps/hooks/afterBuild.js
  packages/@mps/cli/template/.mps/hooks/afterTaskBuild.js
  packages/@mps/cli/template/.mps/hooks/beforeBuild.js
  packages/@mps/cli/template/.mps/hooks/beforeTaskBuild.js
  packages/@mps/cli/tools/getProjectJson.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

feat: 增加cli-lbg测试
  .eslintrc.js
  packages/@mps/cli-lbg/package.json
  packages/@mps/cli-lbg/templates/lbg-noticeTask.js
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: test
  packages/@mps/cli-lbg/README.md
  packages/@mps/cli-lbg/index.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/lib/module.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

feat: cli-lbg 测试完成
  .eslintrc.js
  .prettierignore
  packages/@mps/cli-lbg/index.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/lib/generator.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
  packages/@mps/cli/template/.mps/hooks/noticeTask.js
  packages/@mps/cli/template/.mps/previewQrCode/.gitignore
  packages/@mps/cli/template/.mps/secrets/private.[appId].key
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: 1.去除cli项目中的cli-lbg 2.update init.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/lib/module.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
  packages/@mps/cli/utils/file.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: 参数统一
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/build.js
Due: npm run lint, npm run prettier-fix

chore: 优化
  packages/@mps/cli/utils/file.js
Due: npm run lint, npm run prettier-fix

chore: 优化
  packages/@mps/cli-lbg/index.js
Due: npm run lint, npm run prettier-fix

feat: 1.git操作提取 2.build开发暂存
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/build.js
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/getProjectJson.js
  packages/@mps/cli/tools/git.js
Due: npm run lint, npm run prettier-fix

feat: build流程暂存
  .eslintrc.js
  packages/@mps/cli/command/build.js
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/utils/logger.js
Due: npm run lint, npm run prettier-fix
