Repository yanquankun/mint-fe-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

.lintstagedrc:

{
  "packages/**/*.{ts,tsx,js,jsx}": ["npm run lint", "npm run prettier-fix"],
  "*.json": ["prettier --trailing-comma none --write"],
  "*.md": ["prettier --write"]
}

feat: make lint happy
  packages/@mps/cli/command/build.js
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
Due: npm run lint, npm run prettier-fix

lint: globalThis
  .eslintrc.js
  packages/@mps/cli/bin/mps.js
  packages/@mps/cli/command/build.js
  packages/@mps/cli/command/clean.js
  packages/@mps/cli/command/init.js
  packages/@mps/cli/tools/getProjectJson.js
Due: npm run lint, npm run prettier-fix

add: img<=>base64
  packages/@mps/cli/utils/file.js
Due: npm run lint, npm run prettier-fix

feat: isDebug
  packages/@mps/cli/command/build.js
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
Due: npm run lint, npm run prettier-fix

feat: 优化自动注册逻辑
  packages/@mps/cli/command/build.js
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/utils/file.js
Due: npm run lint, npm run prettier-fix

add: miniprogran-ci
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
  packages/@mps/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

add: ci操作
  packages/@mps/cli/command/build.js
  packages/@mps/cli/template/.mps/apps.json
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/tools/getProjectJson.js
  packages/@mps/cli/utils/common.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

add: tag生成
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/tools/git.js
Due: npm run lint, npm run prettier-fix

docs: update readme.md
  packages/@mps/cli/README.md
Due: prettier --write

update: update template
  packages/@mps/cli/template/.mps/hooks/afterBuild.js
  packages/@mps/cli/template/.mps/hooks/afterTaskBuild.js
  packages/@mps/cli/template/.mps/hooks/beforeBuild.js
  packages/@mps/cli/template/.mps/hooks/beforeTaskBuild.js
Due: npm run lint, npm run prettier-fix

add: version check
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/utils/common.js
Due: npm run lint, npm run prettier-fix

add: call hook
  packages/@mps/cli/lib/module.js
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/tools/hook.js
Due: npm run lint, npm run prettier-fix

update: notice模板更新
  packages/@mps/cli-lbg/templates/lbg-noticeTask.js
  packages/@mps/cli/template/.mps/hooks/noticeTask.js
  packages/@mps/cli/tools/hook.js
Due: npm run lint, npm run prettier-fix

update: notice模板更新
  packages/@mps/cli-lbg/templates/lbg-noticeTask.js
  packages/@mps/cli/template/.mps/hooks/noticeTask.js
Due: npm run lint, npm run prettier-fix

chore: 优化
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/tools/hook.js
Due: npm run lint, npm run prettier-fix

add: manager+command执行
  packages/@mps/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix

update: noticeTask二维码信息透传
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/hook.js
  packages/@mps/cli/utils/file.js
Due: npm run lint, npm run prettier-fix

fix: 测试bug
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/tools/hook.js
  packages/@mps/cli/utils/common.js
  packages/@mps/cli/utils/file.js
  packages/@mps/cli/utils/type.js
Due: npm run lint, npm run prettier-fix

feat: 测试修改
  packages/@mps/cli/tools/buildMp.js
  packages/@mps/cli/tools/buildPrompt.js
  packages/@mps/cli/tools/git.js
Due: npm run lint, npm run prettier-fix

update: update lbg template
  packages/@mps/cli-lbg/templates/lbg-noticeTask.js
Due: npm run lint, npm run prettier-fix

feat: 删除comment
  packages/@mps/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix

feat: lerna repair
  .prettierignore
  lerna.json
Due: prettier --trailing-comma none --write

update: cli-lbg=>1.0.0
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

update: cli-lbg=>0.0.1
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

feat: update lerna.json
  lerna.json
Due: prettier --trailing-comma none --write

feat: test
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

feat: test
  lerna.json
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

feat: test
  packages/@mps/cli-lbg/index.js
Due: npm run lint, npm run prettier-fix

feat: test
  lerna.json
Due: prettier --trailing-comma none --write

feat: cli-lbg version=>0.0.1
  lerna.json
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

feat: fix package.json
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

add: lbg add publishConfig
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

update: package name update
  packages/@mps/cli-lbg/package.json
  packages/@mps/cli/package.json
Due: prettier --trailing-comma none --write

fix: 包名修改后问题修复
  packages/@mps/cli/command/init.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: 更新npm包到org中,orgName:yqk
  packages/@mps/cli-lbg/package.json
  packages/@mps/cli/command/init.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: lbg pkg删除register字段
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write

feat: 恢复registry字段
  packages/@mps/cli-lbg/package.json
Due: prettier --trailing-comma none --write
