Repository yanquankun/mint-fe-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

.lintstagedrc:

{
  "packages/**/*.{ts,tsx,js,jsx}": ["npm run lint", "npm run prettier-fix"],
  "*.json": ["prettier --trailing-comma none --write"],
  "*.md": ["prettier --write"]
}

add: add npm token
  packages/@mps/cli-lbg/.npmignore
  packages/@mps/cli-lbg/.npmrc
Due: none

feat: 更新readme & add cli-lbg
  packages/@mps/cli/README.md
  packages/@mps/cli/command/init.js
  packages/@mps/cli/package-lock.json
  packages/@mps/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

update: @mps=>@mpsc
  package.json
  packages/@mpsc/cli-lbg/.npmignore
  packages/@mpsc/cli-lbg/.npmrc
  packages/@mpsc/cli-lbg/README.md
  packages/@mpsc/cli-lbg/index.js
  packages/@mpsc/cli-lbg/package.json
  packages/@mpsc/cli-lbg/templates/lbg-noticeTask.js
  packages/@mpsc/cli/.npmignore
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/command/build.js
  packages/@mpsc/cli/command/clean.js
  packages/@mpsc/cli/command/init.js
  packages/@mpsc/cli/lib/generator.js
  packages/@mpsc/cli/lib/module.js
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
  packages/@mpsc/cli/template/.mps/apps.json
  packages/@mpsc/cli/template/.mps/hooks/afterBuild.js
  packages/@mpsc/cli/template/.mps/hooks/afterTaskBuild.js
  packages/@mpsc/cli/template/.mps/hooks/beforeBuild.js
  packages/@mpsc/cli/template/.mps/hooks/beforeTaskBuild.js
  packages/@mpsc/cli/template/.mps/hooks/noticeTask.js
  packages/@mpsc/cli/template/.mps/previewQrCode/.gitignore
  packages/@mpsc/cli/template/.mps/secrets/private.[appId].key
  packages/@mpsc/cli/tools/buildMp.js
  packages/@mpsc/cli/tools/buildPrompt.js
  packages/@mpsc/cli/tools/getProjectJson.js
  packages/@mpsc/cli/tools/git.js
  packages/@mpsc/cli/tools/hook.js
  packages/@mpsc/cli/types/file.d.ts
  packages/@mpsc/cli/types/generator.d.ts
  packages/@mpsc/cli/types/index.d.ts
  packages/@mpsc/cli/types/tsconfig.json
  packages/@mpsc/cli/utils/common.js
  packages/@mpsc/cli/utils/file.js
  packages/@mpsc/cli/utils/logger.js
  packages/@mpsc/cli/utils/spinner.js
  packages/@mpsc/cli/utils/type.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

lint: make lint happy
  .eslintrc.js
  .prettierignore
  packages/@mpsc/cli-lbg/README.md
Due: prettier --write

feat: remove @yqk/mps-lbg
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

update: update readme
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/bin/mps.js
Due: npm run lint, npm run prettier-fix, prettier --write

update: mps-lbg=>cli-lbg
  packages/@mpsc/cli-lbg/package.json
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

add: install @mpsc/cli-lbg
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

fix: fix lgb=>lbg
  packages/@mpsc/cli-lbg/README.md
  packages/@mpsc/cli-lbg/package.json
Due: prettier --trailing-comma none --write, prettier --write

update: @mpsc/cli-lbg升级0.0.2
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

update: update readme.md & add changelog.md
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/README.md
Due: prettier --write

update: update readme.md
  packages/@mpsc/cli/README.md
Due: prettier --write

fix: fix taro报错
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix

fix: execa改为dep
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

update: 0.0.1=>0.0.2
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

update: 增加 mpsc build 日志输出功能 & 去掉 buildMp 所输出的小程序日志
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/package.json
  packages/@mpsc/cli/tools/buildMp.js
  packages/@mpsc/cli/utils/logger.js
  packages/@mpsc/cli/utils/spinner.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

update: 0.0.3=>0.0.4
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/package.json
  packages/@mpsc/cli/tools/buildMp.js
  packages/@mpsc/cli/utils/logger.js
  packages/@mpsc/cli/utils/spinner.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

docs: update mpsc install
  packages/@mpsc/cli/README.md
Due: prettier --write

docs: update readme
  packages/@mpsc/cli/README.md
Due: prettier --write

update: version
  packages/@mpsc/cli/package-lock.json
Due: prettier --trailing-comma none --write

add: apps.json atUsers
  packages/@mpsc/cli/template/.mps/apps.json
Due: prettier --trailing-comma none --write

add: atUsers透传noticeHook
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix, prettier --write

add: atUsers透传noticeHook
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix

add: 模板增加atUsers功能
  packages/@mpsc/cli-lbg/package.json
  packages/@mpsc/cli-lbg/templates/lbg-noticeTask.js
  packages/@mpsc/cli/template/.mps/apps.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

add: cli-page
  packages/@mpsc/cli-page/.gitignore
  packages/@mpsc/cli-page/.vscode/extensions.json
  packages/@mpsc/cli-page/README.md
  packages/@mpsc/cli-page/index.html
  packages/@mpsc/cli-page/package-lock.json
  packages/@mpsc/cli-page/package.json
  packages/@mpsc/cli-page/public/vite.svg
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/assets/vue.svg
  packages/@mpsc/cli-page/src/components/HelloWorld.vue
  packages/@mpsc/cli-page/src/main.ts
  packages/@mpsc/cli-page/src/style.css
  packages/@mpsc/cli-page/src/vite-env.d.ts
  packages/@mpsc/cli-page/tsconfig.json
  packages/@mpsc/cli-page/tsconfig.node.json
  packages/@mpsc/cli-page/tsconfig.node.tsbuildinfo
  packages/@mpsc/cli-page/vite.config.ts
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

add: cli-page
  packages/@mpsc/cli-page/index.html
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/components/HelloWorld.vue
Due: none

feat: vite config
  packages/@mpsc/cli-page/auto-imports.d.ts
  packages/@mpsc/cli-page/components.d.ts
  packages/@mpsc/cli-page/index.html
  packages/@mpsc/cli-page/package-lock.json
  packages/@mpsc/cli-page/package.json
  packages/@mpsc/cli-page/public/favicon.ico
  packages/@mpsc/cli-page/public/vite.svg
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/assets/vue.svg
  packages/@mpsc/cli-page/src/components/HelloWorld.vue
  packages/@mpsc/cli-page/src/main.ts
  packages/@mpsc/cli-page/src/style.css
  packages/@mpsc/cli-page/vite.config.ts
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: cli-page页面开发
  package-lock.json
  package.json
  packages/@mpsc/cli-page/components.d.ts
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/components/Config.vue
  packages/@mpsc/cli-page/src/components/Log.vue
  packages/@mpsc/cli-page/src/services/log.ts
  packages/@mpsc/cli-page/src/style.css
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: header UI调整
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/style.css
Due: none

update: font color
  packages/@mpsc/cli-page/src/components/Log.vue
  packages/@mpsc/cli-page/src/style.css
Due: none

update: font weight
  packages/@mpsc/cli-page/src/components/Log.vue
Due: none

feat: config区域暂存
  packages/@mpsc/cli-page/components.d.ts
  packages/@mpsc/cli-page/src/components/Config.vue
  packages/@mpsc/cli-page/src/services/config.ts
  packages/@mpsc/cli-page/src/utils/common.ts
Due: npm run lint, npm run prettier-fix

feat: config submitbtn css
  packages/@mpsc/cli-page/src/components/Config.vue
Due: none

add: config配置
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/components/Config.vue
  packages/@mpsc/cli-page/src/components/Log.vue
  packages/@mpsc/cli-page/src/services/config.ts
Due: npm run lint, npm run prettier-fix

feat: 增加结果页面
  packages/@mpsc/cli-page/components.d.ts
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/components/Result.vue
  packages/@mpsc/cli-page/src/services/fetch.ts
  packages/@mpsc/cli-page/src/services/result.ts
  packages/@mpsc/cli-page/src/services/ws.ts
Due: npm run lint, npm run prettier-fix

feat: commit
  packages/@mpsc/cli-page/src/components/Result.vue
Due: none

add: proxy
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/vite.config.ts
Due: npm run lint, npm run prettier-fix

add: 访问静态资源
  .eslintrc.js
  packages/@mpsc/cli-page/components.d.ts
  packages/@mpsc/cli-page/vite.config.ts
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/command/server.js
  packages/@mpsc/cli/lib/server.js
  packages/@mpsc/cli/static/css/style-CZKhSGVbjL.css
  packages/@mpsc/cli/static/favicon.ico
  packages/@mpsc/cli/static/index.html
  packages/@mpsc/cli/static/js/index-BwBv9_e6.js
  packages/@mpsc/cli/static/vender/element-plus-BZacXLkC.js
  packages/@mpsc/cli/static/vender/third_party-DJ2Afz4E.js
  packages/@mpsc/cli/utils/common.js
Due: npm run lint, npm run prettier-fix

fix: server picture read fail
  packages/@mpsc/cli/lib/server.js
  packages/@mpsc/cli/static/css/style-CZKhSGVbjL.css
  packages/@mpsc/cli/static/index.html
Due: npm run lint, npm run prettier-fix
