Repository yanquankun/mint-fe-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

add: 1.html plugin 2.替换静态资源
  packages/@mpsc/cli-page/package-lock.json
  packages/@mpsc/cli-page/package.json
  packages/@mpsc/cli-page/vite.config.ts
  packages/@mpsc/cli/static/css/style-CZKhSGVbjL.css
  packages/@mpsc/cli/static/index.html
  packages/@mpsc/cli/static/js/index-BwBv9_e6.js
  packages/@mpsc/cli/static/js/index-CznCYgyX.js
  packages/@mpsc/cli/static/vender/element-plus-BZacXLkC.js
  packages/@mpsc/cli/static/vender/element-plus-CHKDGd9E.js
  packages/@mpsc/cli/static/vender/third_party-CFSxMbpH.js
  packages/@mpsc/cli/static/vender/third_party-DJ2Afz4E.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: prettier忽略static
  .prettierignore
  packages/@mpsc/cli/static/css/style-CZKhSGVbjL.css
  packages/@mpsc/cli/static/index.html
Due: none

feat: web服务待整理
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/vite.config.ts
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/lib/server.js
  packages/@mpsc/cli/static/css/style-CZKhSGVbjL.css
  packages/@mpsc/cli/static/index.html
  packages/@mpsc/cli/template/.mps/apps.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

update: prettierrc
  .prettierignore
Due: none

add: nodemon
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/command/server.js
  packages/@mpsc/cli/lib/server.js
  packages/@mpsc/cli/nodemon.json
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: server dev env
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
  packages/@mpsc/cli/static/css/style-B4ZDFUsDDL.css
  packages/@mpsc/cli/static/css/style-CZKhSGVbjL.css
  packages/@mpsc/cli/static/index.html
  packages/@mpsc/cli/static/js/index-CznCYgyX.js
  packages/@mpsc/cli/static/js/index-DQlTInK1.js
  packages/@mpsc/cli/static/vender/element-plus-CHKDGd9E.js
  packages/@mpsc/cli/static/vender/third_party-CFSxMbpH.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

feat: http server package
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli/lib/http.js
  packages/@mpsc/cli/lib/server.js
  packages/@mpsc/cli/nodemon.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

feat: page 接口调整& add server interface
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/components/Config.vue
  packages/@mpsc/cli-page/src/components/Log.vue
  packages/@mpsc/cli-page/src/services/fetch.ts
  packages/@mpsc/cli/lib/http.js
Due: npm run lint, npm run prettier-fix

add: guid
  packages/@mpsc/cli/utils/common.js
Due: npm run lint, npm run prettier-fix

add: postMessage
  packages/@mpsc/cli-page/src/components/Log.vue
  packages/@mpsc/cli/lib/http.js
Due: npm run lint, npm run prettier-fix

feat: del space
  packages/@mpsc/cli/lib/http.js
Due: npm run lint, npm run prettier-fix

update: http.js
  packages/@mpsc/cli/lib/http.js
Due: npm run lint, npm run prettier-fix

feat: 构建日志输出
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/components/Log.vue
  packages/@mpsc/cli-page/src/services/log.ts
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/lib/http.js
  packages/@mpsc/cli/tools/buildMp.js
  packages/@mpsc/cli/utils/logger.js
Due: npm run lint, npm run prettier-fix

feat: commit
  packages/@mpsc/cli-lbg/templates/lbg-noticeTask.js
  packages/@mpsc/cli-page/auto-imports.d.ts
  packages/@mpsc/cli-page/components.d.ts
  packages/@mpsc/cli-page/src/App.vue
  packages/@mpsc/cli-page/src/components/Log.vue
  packages/@mpsc/cli-page/src/components/Result.vue
  packages/@mpsc/cli-page/src/services/fetch.ts
  packages/@mpsc/cli-page/src/services/log.ts
  packages/@mpsc/cli-page/src/services/result.ts
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/lib/http.js
  packages/@mpsc/cli/lib/server.js
  packages/@mpsc/cli/nodemon.json
  packages/@mpsc/cli/static/css/style-B4ZDFUsDDL.css
  packages/@mpsc/cli/static/css/style-Dq3GRC1zPZ.css
  packages/@mpsc/cli/static/index.html
  packages/@mpsc/cli/static/js/index-Bu6jk8YD.js
  packages/@mpsc/cli/static/js/index-DQlTInK1.js
  packages/@mpsc/cli/static/vender/element-plus-BCdSzuDx.js
  packages/@mpsc/cli/static/vender/element-plus-CHKDGd9E.js
  packages/@mpsc/cli/static/vender/third_party-CFSxMbpH.js
  packages/@mpsc/cli/static/vender/third_party-jQNQyvxY.js
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: notice hook tpl
  packages/@mpsc/cli-lbg/templates/lbg-noticeTask.js
  packages/@mpsc/cli/template/.mps/apps.json
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: buildMp
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix

update: prod message level
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix

update: static & qrcode download
  packages/@mpsc/cli-page/package-lock.json
  packages/@mpsc/cli-page/package.json
  packages/@mpsc/cli-page/src/components/Result.vue
  packages/@mpsc/cli/static/css/style-Bv8PH1YC9n.css
  packages/@mpsc/cli/static/css/style-Dq3GRC1zPZ.css
  packages/@mpsc/cli/static/index.html
  packages/@mpsc/cli/static/js/index-Bu6jk8YD.js
  packages/@mpsc/cli/static/js/index-D8mcbITO.js
  packages/@mpsc/cli/static/vender/element-plus-DAsW63Hw.js
  packages/@mpsc/cli/static/vender/third_party-DLuX2Pn9.js
  packages/@mpsc/cli/static/vender/third_party-jQNQyvxY.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: notice hook tip
  packages/@mpsc/cli/template/.mps/hooks/noticeTask.js
Due: npm run lint, npm run prettier-fix

update: readme & add open url with browser
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/lib/server.js
  packages/@mpsc/cli/utils/common.js
Due: npm run lint, npm run prettier-fix, prettier --write

feat: catch
  packages/@mpsc/cli/lib/server.js
Due: npm run lint, npm run prettier-fix

feat: cli-lbg 0.0.2->0.0.4
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

update: cli 0.0.4->0.0.5
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

update: cli 0.0.5->0.0.6
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/lib/http.js
  packages/@mpsc/cli/package.json
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

fix: noticehook
  packages/@mpsc/cli-lbg/package.json
  packages/@mpsc/cli-lbg/templates/lbg-noticeTask.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

fix: noticehook
  packages/@mpsc/cli-lbg/package.json
Due: prettier --trailing-comma none --write

feat: drop .npmrc
  packages/@mpsc/cli-lbg/.npmrc
Due: none

update: cli 0.0.6->0.0.7
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write, prettier --write

update: cli-lbg 0.0.5->0.0.6
  packages/@mpsc/cli-lbg/package.json
  packages/@mpsc/cli-lbg/templates/lbg-noticeTask.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write

update: cli-lbg 0.0.5->0.0.6
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
Due: prettier --trailing-comma none --write

update: cli => 0.0.8
  packages/@mpsc/cli/CHANGELOG.md
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/package.json
  packages/@mpsc/cli/tools/buildMp.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

feat(cli): 使用 Clack 统一小程序脚手架终端交互
  packages/@mpsc/cli/README.md
  packages/@mpsc/cli/bin/mps.js
  packages/@mpsc/cli/command/clean.js
  packages/@mpsc/cli/command/init.js
  packages/@mpsc/cli/package-lock.json
  packages/@mpsc/cli/package.json
  packages/@mpsc/cli/tests/terminal.test.js
  packages/@mpsc/cli/tools/buildMp.js
  packages/@mpsc/cli/tools/buildPrompt.js
  packages/@mpsc/cli/utils/logger.js
  packages/@mpsc/cli/utils/spinner.js
  packages/@mpsc/cli/utils/terminal.js
Due: npm run lint, npm run prettier-fix, prettier --trailing-comma none --write, prettier --write

Path conditions:
  npm run lint: any of: packages/**/*.{ts,tsx,js,jsx}
  npm run prettier-fix: any of: packages/**/*.{ts,tsx,js,jsx}
  prettier --trailing-comma none --write: any of: *.json
  prettier --write: any of: *.md
